[submodule "engine"]
	path = src/engine
	url = https://gitlab.com/minds/engine.git
[submodule "front"]
	path = src/front
	url = https://gitlab.com/minds/front.git
[submodule "sockets"]
	path = src/sockets
	url = https://github.com/minds/sockets.git 
